@inject IJSRuntime js
@inject IMoviesRepository moviesRepository

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="mov">
            <IndividualMovie Movie="mov" DeleteMovie="DeleteMovie" @key="mov.Id" />
        </ElementTemplate>
    </GenericList>
</div>

@code {
    [Parameter] public List<Movie> Movies { get; set; }

    private async Task DeleteMovie(Movie movie)
    {
        await js.MyFunction("custom message");
        var confirmed = await js.Confirm($"Are You Sure You Want To Delete {movie.Title} ?");
        if (confirmed)
        {
            await moviesRepository.DeleteMovie(movie.Id);
            Movies.Remove(movie);
        }
    }

}
