@page "/"
@inject IRepository repository

<div>
    <h3>Movies</h3>
    <MoviesList Movies="movies" />
</div>

@code{

    private List<Movie> movies;

    //special method running when the razor file loads
    protected override async Task OnInitializedAsync()
    {
        movies = repository.GetMovies();
    }
}
