@page "/"
@page "/index"
@inject IMoviesRepository moviesRepository

<div>
    <h3>In Theaters</h3>
    <MoviesList Movies="inTheaters" />
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="upcomingReleases" />
</div>

@code{

    private List<Movie> inTheaters;
    private List<Movie> upcomingReleases;

    //special method running when the razor file loads
    protected override async Task OnInitializedAsync()
    {
        var response = await moviesRepository.GetIndexPageDTO();
        inTheaters = response.InTheaters;
        upcomingReleases = response.UpcomingReleases;
        
    }
}
