@page "/movie/create"
@inject NavigationManager navigationManager
@inject IMoviesRepository repository
@inject IGenreRepository genreRepository

<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />

}

@code {
    private Movie Movie = new Movie();

    private List<Genre> NotSelectedGenres;

    protected override async Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepository.GetGenres();
    }


    private async Task SaveMovie()
    {
        try
        {
            var movieId = await repository.CreateMovie(Movie);
            navigationManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
